<h2>Fill-up Tracker</h2>
<div class="">
    <label class="">Gallons pumped</label><br>
    <div class="">
        <input class="" type="text" name="gal" id="">
        <label class="">gal.</label>
    </div>
</div>
<div class="">
    <label class="">Car mileage</label>
    <div>
        <input class="" type="text" name="mil" id="" placeholder="xxx,xxx.xx">
        <label class="">mi.</label>
    </div>
</div>