<h2>Fill-up Tracker</h2>
<div class="">
    <div class="">
        <label class="">Gallons pumped</label><br>
        <div class="">
            <input class="" type="text" name="gal" id="gal">
            <label class="">gal.</label>
        </div>
    </div>
    <div class="">
        <label class="">Car mileage</label>
        <div>
            <input class="" type="text" name="mil" id="mi" placeholder="xxx,xxx.xx">
            <label class="">mi.</label>
        </div>
    </div>
    <br>
    <input type="button" value="&#10004;" class="close">
</div>