<!-- NOTE:
This table will only work with boostrap loaded. 
There's a bootstrap css <link> ready to fire in homepage.ejs
-->


<h2>Basic Maintenance Info</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#">Brake pads</a>
        </div>
        <div class="col-sm">
            <a href="#">Tires</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="#">Battery</a>
        </div>
        <div class="col-sm">
            <a href="#">Wiper Blades</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="#">Air Filter</a>
        </div>
        <div class="col-sm">
            <a href="#">Spark Plugs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="#">etc.</a>
        </div>
        <div class="col-sm">
            <a href="#">etc.</a>
        </div>
    </div>
</div>