<h2>Oil Overview</h2>
<div>
    <div class="">
        <label class="">Miles to next change:</label>
        <label class="">xxx.xx mi.</label>
    </div>
    <div class="">
        <label class="">Recommended oil type:</label>
        <label class="">"xx/xx" oil</label>
    </div>
</div>
<a href="#">Have you changed the oil? &#8594;</a>